.icon-bar {
    position: fixed;
    top: 60%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.linkedin {
    background: #007bb5;
    color: white;
}
  
.github {
    background: #696969;
    color: white;
}
  

.experience-number {
    float: left;
    font-size: 3em;
}
.experience-label{
    margin-left: 17%;
    margin-top: 3%;
    line-height: 1em;
}

.experience-type{
    margin-top: 3%;
}

body {
    background: orange;
    font-size: 16px;
}
p {
    font-weight: 300;
}
  /* a {
    color: #6c6d6d;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.3em;
    font-size: 0.6em;
    font-weight: 400;
    background: #252727;
    padding: 0.3rem 1rem;
    margin: 1.9rem 0 0 0;
    float: right;
  }
  a:hover {
    color: white;
    background: #004ffc;
    border-bottom: 0.35em solid black;
  } */
  strong {
    font-weight: 600;
  }
  h1 {
    font-family: "Saira", sans-serif;
    letter-spacing: 1.5px;
    color: white;
    font-weight: 400;
    font-size: 2.4em;
  }
  #timeline-content {
    margin-top: 50px;
    text-align: center;
  }
  /* Timeline */
  .timeline {
    border-left: 4px solid #004ffc;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.8);
    font-family: "Chivo", sans-serif;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 30%;
  }
  .timeline h1 {
    font-family: "Saira", sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
  }
  .timeline h2,
  .timeline h3 {
    font-family: "Saira", sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
  }
  .timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  .timeline .event:before,
  .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
  }
  .timeline .event:before {
    left: -217.5px;
    color: rgba(255, 255, 255, 0.4);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
    font-family: "Saira", sans-serif;
  }
  .timeline .event:after {
    box-shadow: 0 0 0 4px #004ffc;
    left: -57.85px;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
  }
  

  blockquote {
    position: relative;
    text-align: left;
    padding: 1.2em 0 2em 38px;
    border: none;
    margin: 20px auto 20px;
    max-width: 800px;
    width:100%;
    display: block;
}

/* blockquote:after {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    color: #66cc66;
    top: 0;
    background: -moz-linear-gradient(top,#66cc66 0%,#66cc66 60%,rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top,#66cc66 0%,#66cc66 60%,rgba(255,255,255,0) 100%);
    /* background: linear-gradient(to bottom,#66cc66 0%,#66cc66 60%,rgba(255,255,255,0) 100%); */
/* } */ 

/* blockquote:before {
    content:"\f10d";
    font-family: "fontawesome";
    font-size: 20px;
    display: block;
    margin-bottom: 0.8em;
    font-weight: 400;
    color: #66cc66;
} */

/* blockquote > cite, 
blockquote > p > cite {
    display: block;
    font-size: 16px;
    line-height: 1.3em;
    font-weight: 700;
    font-style: normal;
    margin-top: 1.1em;
    letter-spacing: 0;
    font-style:italic;
}

 */
.recommendation-text {
    text-decoration: none;
}

.recommendation-text:visited {
    color: grey;
}

.mail-text {
    text-decoration: none;
}

.mail-text:visited {
    color: grey;
}
