.icon-bar {
    position: fixed;
    top: 60%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

nav{
  padding: 20px;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.jumbotron {
  height:420px;
}

.introduction {
  background-color: #9a1750;
  background-repeat: none;
}

.hello-text{
  margin-top: 40px;
}

.hello-text, .my-name, .my-designation {
  color: #5d001e;
}

.my-designation{
  font-weight: 300;
}

.skills-image{
  width: 250px;
  height: 135px;
  margin-top: 10px;
}

.line-pink{
  width: 12%;
  position: relative;
  left: 44%;
  color: #5d001e !important;
  height: 3px !important;
}

.line-grey{
  width: 12%;
  position: relative;
  left: 44%;
  color: #696969 !important;
  height: 3px !important;
}

.line-light-grey{
  width: 12%;
  position: relative;
  left: 44%;
  color: #efefef !important;
  height: 3px !important;
}

#about-me p, a {
  font-family: 'Open Sans Condensed', sans-serif;
}

.about-experience{
  color:#5d001e;
  font-size: 22px;
}

.experience-number{
  color: #9a1750;
  font-weight: bold;
}

.experience-label:nth-of-type(1n){
  color: #696969;
  font-size: 24px;
}

.experience-label:nth-of-type(2n){
  color: #9a1750;
  font-size: 26px;
  margin-top: 18px;
  line-height: 10px;
}

.skills-section{
  background-color: #5d001e;
}

.skills-section .row{
  background: #f8f6f6;
  margin-top: 40px;
  padding: 24px 24px 32px;
}

.icon-bar a:hover {
    background-color: #000;
}

.grey-text{
    color: #696969;
    font-family: 'Cantora One', sans-serif;
}

.pink-text{
  color: #ee4c7c;
  font-family: 'Cantora One', sans-serif;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.introduction{
  padding-top: 1%;
  padding-left: 2%;
}

.introduction .container{
  margin-top: 35px;
}


.nav-profile {
    background-color: #fbefcc;
}

.linkedin {
    background: #007bb5;
    color: white;
}
  
.github {
    background: #696969;
    color: white;
}


.container{
    padding-top: 50px !important;
}

.experience-number {
    float: left;
    font-size: 3em;
}
.experience-label{
    margin-left: 17%;
    /* margin-top: 3%; */
    line-height: 1em;
}

.experience-numerical{
  margin-top: 15px;
}

.experience-type{
  margin-top: 3%;
  color: #5d001e;
  font-size: larger;
}

#my-recommendations{
  min-width: 100%;
  background-color: #9a1750;
}

#my-recommendations, #services, #contact-me{
  padding-bottom: 45px;
}

#my-recommendations p{
  font-size: 20px;
}


#my-journey{
  max-width: 100%;
}


.jrny-text{
  color: #006A4E;
}


p {
    font-weight: 300;
}

.bg-skills {
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  height: 395px;
}

.info{
  font-family: 'Cantora One', sans-serif;
  color: #e3afbf;
}
  
strong {
  font-weight: 600;
}

h1 {
  font-family: "Saira", sans-serif;
  letter-spacing: 1.5px;
  /* color: white; */
  font-weight: 400;
  font-size: 2.4em;
}
  
.box{
  margin:0 10%;
  height: 630px;
  overflow: hidden;
  padding: 10px 0 40px 60px
}

.box ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.5s linear;
  top:0
}


.box ul:before{
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border:1px dashed #ee4c7c;
  position: absolute;
  top:0;
  left:30px
}

.box ul li{
  margin: 20px 60px 10px;
  position: relative;
  padding: 10px 20px;
  background: #f4f4f4;
  color:#fff;
  border-radius: 10px;
  line-height: 20px;
  /* width: 35% */
}


.box ul li > span{
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border:1px solid #9a1750;
  position: absolute;
  top:0;
  left:-30px
}

.box ul li > span:before,.box ul li > span:after{
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background:#e3e2df;
  border:2px solid #fff;
  position: absolute;
  left:-7.5px
}

.box ul li > span:before{top:-10px; left:-5px;}
.box ul li > span:after{top:95%; left:-5px;}

.box .title{
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px
}

.box .info:first-letter{text-transform: capitalize;line-height: 1.7}

.box .name{
  margin-top: 10px;
  text-transform: capitalize;
  font-style: italic;
  text-align: right;
  margin-right: 20px
}


.box .time span{
  position: absolute;
  left: -100px;
  color:#9a1750;
  font-size:80%;
  font-weight: bold;
}

.recommendation-text {
    text-decoration: none;
    color: #e3afbc;
}

.recommendation-text:visited {
    color: #e3afbc;
}

cite{
  color: #5d001e;
  font-size: 21px;
  font-weight: 700;
}

.mail-text {
    text-decoration: none;
}

.mail-text:visited {
    color: grey;
}

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    background-color: #9a1750;
}

.navbar.scrolled {
    background: #e3e3df;
}

.cta {
  padding: 15px 115px 15px 115px;
  overflow: hidden;
  background: #9a1750;
  border-radius: 10px;
}

.cta-link {
  text-decoration: none;
  color: #696969;
  font-size: 26px;
  font-weight: 700;
}